<div class="col-4">
  <div class="card">
      <div class="imgBx">
          <% if waiter.photo.blank? %>
          <img src="https://cdn-icons-png.flaticon.com/512/90/90461.png" alt="VR Zone">
          <% else %>
          <%= cl_image_tag waiter.photo.key, height: 300, width: 400, crop: :fill %>
          <% end %>
      </div>
      <div class="contentBx">
        <h2><%= waiter.name %></h2>
        <%= link_to edit_restaurant_waiter_path(waiter.restaurant, waiter) do %>
          <i class="fa-solid fa-pen-to-square"></i>
        <% end %>
        <%= link_to restaurant_waiter_path(waiter.restaurant, waiter), method: :delete, data: { confirm: "Are you sure?" } do %>
          <i class="fa-solid fa-trash"></i>
        <% end %>
      </div>

  </div>
</div>
