<div>
  <h1 class="d-flex justify-content-center mb-3">Add a Waiter</h1>
  <div class="d-flex justify-content-center">
    <%= simple_form_for [ @restaurant, @waiter ], class: 'col-6' do |f| %>
    <%=  f.input :name,
                  required: true%>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Create Waiter", class: "btn" %>
    <% end %>
  </div>
</div>
