<div class="col-6 bg-light m-4">
  <p>Request received from Table <%= request.order.cover.id %> </p>
  <hr>
  <p>at <%= request.created_at %></p>
  <hr>
  <p><%= request.content %></p>
  <hr>
  <p><%= link_to 'Remove', request_path(request), method: :delete  %></p>
</div>
