<h1>Your order</h1>
<div class="container" >
  <% @order.order_items.each do |item| %>
  <div class="card-product col-sm-12 m-2">
  <img src="https://static.toiimg.com/thumb/56933159.cms?imgsize=686279&width=800&height=800" />
  <div class="card-product-infos">
    <h2 class="name"><%= item.food.name %></h2>
    <p class="description"><%= item.food.description %></p>
    <h2 class="price"><%= item.food.price %></h2>
  </div>
  <p class=" fs-4 border border-3 rounded-4 p-1"><%= item.quantity %> </p>
  </div>

  <% end %>

    <a href="#" class="btn btn-light" >View receipt </a>
    <a href="#" class="btn btn-light" >Add order </a>
</div>
