<h2> <%= @restaurant.name %></h2>
<h2> <%= @restaurant.location %></h2>
<% if @restaurant.photo.blank? %>
  <img src="https://media.istockphoto.com/photos/food-backgrounds-table-filled-with-large-variety-of-food-picture-id1155240408?k=20&m=1155240408&s=612x612&w=0&h=Zvr3TwVQ-wlfBnvGrgJCtv-_P_LUcIK301rCygnirbk=" alt="Food">
<% else %>
<%= cl_image_tag @restaurant.photo.key, height: 300, width: 400, crop: :fill %>
<% end %>
