.btn-receipt {
  text-align: center;
}

.button {
  position: relative;
  background-color: rgba(255, 255, 255, 0.959);
  border: none;
  font-size: 28px;
  color: #fd0d5fd4;
  padding: 20px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

.button:after {
  content: "";
  background: #fd0d5fd4;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.0s;
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}


.btn {
  color: white;
  background-color: #fd0d5fd4;
  border: #fd0d5fd4;
  &:hover{
    color: #ffea83;
    i{
      color: #ffea83;
    }
  }
}

i {
  margin-right: 5px;
  display: block;
}

.btn.order {
  bottom: 0px;
  width: 80%;
}

.btn.basket {
  border-radius: 100px;
  padding-left: 19px !important;
  width: 50%;
  align-items: baseline;
  justify-content: space-between;
}

.order a {
  justify-content: center;
    display: flex;
    align-items: center;
}

.confirmation a {
    border-radius: 100px;
   display: flex;
   justify-content: space-between;
   padding-right: 57px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.confirmation i {
  font-size: 25px;
}

.btn.rc {
  border-radius: 50px;
}

.btn.pay {
  border-radius: 50px;
  background-color: black !important;
}
