// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  position: relative;
  height: 100vh;
}
.menu {

  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;

}

.menu li {
  float: left;
  color: grey;
  text-align: center;
  padding: 12px;
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.btn.order {
  position: absolute;
  bottom: 0px;
  width: 80%;
}
